# ignore system files
.DS_Store
.idea
thumbs.db
__MACOSX
._*
.*swp
.*swo
.env

# ignore node files
/node_modules/

# ignore composer files
composer.phar
composer.lock
/vendor/

# php-cs-fixer
.php_cs.cache
